/* 
 CSS style includes dark theme colors

*/

/* HEADER-COLORS */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header-wrapper{
    background-color: #2d383c;
}

.toolbar-header-wrapper{
    border-top: 1px solid #192428;
    border-bottom: 1px solid #192428;
    background-color: #2d383c;
}

/* body-index color*/
.main-list-wrapper{

    background-color: #15202B;
}

/* Footer Color */
.footer{
    background: #2d383c;
    border-top: #192428 1px solid;
    color: white;
}

/* Body Color */
body{
    background-color: #192734;
}


/* List Color */
.list-wrapper{
    color: #fff;
}

.list-tittle{
    background-color: #0784b5;
}

#list_item{
    color: #8899A6;
    border-bottom: solid #8899A6 1px;
}

#list_item:hover{
    color: #fff;
    border-bottom: solid #fff 1px;
}

.list_item{
    color: #8899A6;
    border-bottom: solid #8899A6 1px;
}

.list_item:hover{
    color: #fff;
    border-bottom: solid #fff 1px;
}



.page_item{
    color: #8899A6;
}

.page_item:hover{
    color: #fff;
}

#page_focus{
    color: #fff;
}

.sorting{
    color: #fff;
}

/* Box color */
.main-box-wrapper{
    color: white;
}

.box-items{
    border-bottom: 1px solid #fff;
}

.box-wrapper{
    background:  #192734;
}

.box-item{
    background-color: #0784b5;
}

.name-icons-wrapper{
    background-color: #0784b5;
}

.box-item-link:hover {
    color: #8899A6;
}



/* Form color*/ 
.form-wrapper{
    background:  #192734;
    color: #fff;
}

.switch-btn{
    color: white;
}

.button-wrapper{
    border: 1px solid #39ade752;
}

.form-wrapper #btn{
    background: #0784b5;
}

.form-wrapper .input-field{
    border-bottom: solid #8899A6 1px;
}

.form-wrapper .submit-btn{
    color: #fff;
    background: #0784b5;
}

.input-wrapper input,textarea{
    color: #8899A6;
}



/* Basic color classes */

.logo-color{
    background-color: white;
    color: #0784b5;
}

.button-color{
    color: white;
    background-color: #0784b5;
    border-top: 1px solid #192428;
}

.button-color:hover{
    background-color: #39ace7
}

.title-color{
    color: white;
    background-color: #39ace7
}