*{
    background-color: white;
    color: black;
    background-image: none;
}


/* header */
.slider-frame, .toolbar-header-wrapper{
    display: none;
}
.main-tools{
    display: none;
}
.footer{
    display: none;
}
.login-wrapper, .style-wrapper{
    display: none;
}
.logo-wrapper, .logo, .logo-color{
    color: black;
    padding: 0px;
    margin: 0px;
    background-color: white;
}
.main-wrapper{
    display: center;
    background-color: white;
    border-bottom: black solid 2px;
}



/* box*/

.box-switch-wrapper{
    display: none;
}

body{
    background-image: none;
}

.box-icons-wrapper{
    display: none;
}

.box-name{
    margin-left: auto;
    margin-right: auto;
}

.box-items{
    background-color: white;
}
.box-item{
    background-color: white;
    color: black;
    border: black solid 1px;
}
.box-wrapper{
    height: max-content;
}

.main-box-wrapper, .box-wrapper, .box-name{
    background-color: white;
    color: black;
    border: none;
}
.name-icons-wrapper{
    background-color: white;
    color: black;
    border-bottom: black solid 1px;
    border-radius: 0px;
}

/*movie*/
#movie-user-seen{
    display: none;
}

/*user*/
#user-phone{
    display: none;
}

#user-email{
    display: none;
}