
/* all */
*{
    background-color: white;
    color: black;
}

/* header */
.slider-frame, .toolbar-header-wrapper{
    display: none;
}
.main-tools{
    display: none;
}
.footer{
    display: none;
}
.login-wrapper, .style-wrapper{
    display: none;
}
.logo-wrapper, .logo, .logo-color{
    color: black;
    padding: 0px;
    margin: 0px;
    background-color: white;
}
.main-wrapper{
    display: center;
    background-color: white;
    border-bottom: black solid 2px;
}



/*lis*/
.main-list-wrapper{
    color: black;
}
.list-tittle{
    background-color: white;
}
.list_item{
    color: gray;
}


/*body*/
.first-section, .background{
    
    background-color: white;
    background-image: none;
    margin: none;
    padding: none;
}
.main-favorite-movie-wrapper{
    background-color: white;
}
