*:not(header , .main-header-wrappe, .main-wrapper, .logo-wrapper, .logo, .logo-color, div, h1, a){
    display: none;
}

.logo-wrapper, .logo, .logo-color{
    display: block;
    display: initial;
    color: black;
    padding: 0px;
    margin: 0px;
    background-color: white;
}