
body{
    position: relative;
    padding: 0;
    margin: 0;
    /* background-color: rgb(21, 32, 43); */
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Flex  */
.first-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #15202B;
    max-width: 100%;
    background-image: url(background-css.png);
    background-position: 50% 0;
    background-size: cover;
}


/* Frame for images, ohters are hidden*/
.slider-frame{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 50vh;
    width: 50vw;
}

/** Animation of images, shifting after each x% has passed from time**/
@-webkit-keyframes slide_animation{
    0% {left:0vw;}
    10% {left:0vw;}
    20% {left:50vw;}
    30% {left:50vw;}
    40% {left:100vw;}
    50% {left:100vw;}
    60% {left:150vw;}
    70% {left:150vw;}
    80% {left:200vw;}
    90% {left:200vw;}
    100% {left:200vw;}
}

/** Keeps all images in one class**/
.main-images-wrapper{
    width: 250vw;
    height: 50vh;
    margin: 0 0 0 -200vw;
    position: relative;
    /* animation */
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

/* Each image*/
.img-container{
    height: 50vh;
    width: 50vw;
    position: relative;
    float: left;
}


/** change height**/
@media only screen and (max-width: 1000px) {
    .img-container{
        height: 20vh;
    }
    .main-images-wrapper{
        height: 20vh;
    }
    .slider-frame{
        height: 20vh;
    }
}

/** image size of child **/
.img-container > img{
    background: cover;
    width: max-content;
    height: 100%;
    width: 100%;
}



.main-favorite-movie-wrapper{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}



.rank{
    /* background-color: #39ace7; */
    padding: 15px auto;
    max-width: 100%;
    /* border-bottom: #0784b5 solid 1px; */
}

.main-list-wrapper{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}