body{
    max-width: 100%;
    max-height: 100%;
    background-image: url(background-css.png);
    background-position: 50% 0;
    background-size: cover;
}

.main-box-wrapper{
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
}

.box-switch-wrapper{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 10vw;
}

.box-img-switch{
    width: 100%;
}

.box-wrapper{
    width: 50vw;
    height: 600px;
    position: relative;
    margin: 2% auto;
    padding: 5px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.box-items{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.box-item{
    font-size: large;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.name-icons-wrapper{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.box-icons-wrapper{
    display: grid;
    flex-direction: column;
    text-align: center;
}
.box-icons-title{
    margin-top: 15px;
}

.box-icons{
    display: flex;
    flex-direction: row;
}

.box-name{
    margin-top: 8px;
    padding: 20px;
    font-size: x-large;
}

.box-item-field{
    margin-top: 10px;
    overflow: auto;
    word-wrap: break-word;
    text-decoration: none;
    color: inherit;
}

.ok{
    cursor: pointer;
}

.no{
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .box-icons{
        display: flex;
        flex-direction: column;
    }


    @media only screen and (max-width: 400px) {
        .box-wrapper{
            width: 200px;
            height: 600px;
        }
        .name-icons-wrapper{
            display: flex;
            justify-content: column;
            text-align: center;
        }
    }
}