/*
    CSS style of footer. The bottom part of each page.
*/

.footer {
    bottom:0;  /* Set to the bottom */
    width:100%;

    height:60px;   /* Height of the footer */
    
    position: static;
    
    opacity: 0.5;

    display: flex;     /* display items in a column */
    flex-direction: column;
    justify-content: center;
 }

 .footer-text{
     margin-left: auto; /* center the text */
     margin-right: auto;
 }

 .footer-img{
     display: block;  /* center the image */
     margin-left: auto;
     margin-right: auto;
     width: 20px;
 }
 
.icon{
    width: 100%; 
 }