body{
    max-width: 100%;
    max-height: 100%;
    background-image: url(background-css.png);
    background-position: 50% 0;
    background-size: cover;

}

/*  create wrapper where the first and the second form will be kept */
.main-form-wrapper{
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* window of current form*/
.form-wrapper{
    width: 400px;
    height: 600px;
    position: relative;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*wrapper of switch buttons*/
.button-wrapper{
    width: 300px;
    height: 5vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

/* switch button */
.switch-btn{
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 5px 16px 5px;
    cursor: pointer;
    background: transparent;
}

/* movable button */
.btn_class{
    border-radius: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: inherit;

}

/* form */
.input-wrapper{
    width: 300px;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    transition: 0.6s;
}
/* individual field */
.input-field{
    width:100%;
    padding: 10px;
    margin: auto;
    border: 0;
    background-color: inherit;
}

/* at the bottom*/
.submit-btn{
    width: 90%;
    height: 5vh;
    margin: 2.5vh auto;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    display: block;
}

.label-name{
    font-size: 10px;
}

#first_frame{
    left: 50px;
}
#second_frame{
    left: 450px;
}