*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

header a{
    text-decoration: none;
    color: inherit; 
    padding: 0;
    margin: 0;
}



/* MAIN HEADER */
header .main-header-wrapper{
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /* background-color: #2d383c;
    color: white; */
}

/* FLEX BOX MAIN HEADER */
header .main-header-wrapper .main-wrapper{
    padding: 10px 0px 10px 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    }

/* FLEX BOX MAIN TOOLS */
header .main-header-wrapper .main-tools{
    padding: 0px 50px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}

/* LOGO  WRAPPER */
header .main-header-wrapper .logo-wrapper{
    margin: 0px 0px 0px 50px;
}

/* LOGO */
header .main-header-wrapper .logo{
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: white;
    color: #0784b5; */
}

/* MAIN TOOL */
header .main-header-wrapper .main-tool{
    /* font-size:4vw; */
    border-radius: 5px;
    margin: 5px 10px 5px 30px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    /* background-color: #0784b5;
    border: 1px solid black; */
}



/* MAIN HEADER change */
@media only screen and (max-width: 500px) {
    header .main-header-wrapper .main-wrapper{

    align-items: center;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    header .main-header-wrapper .main-tools{
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
    }
}

/* Wrapper searchbar and navigation*/
.toolbar-searchbar-wrapper{
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}


/* SEARCH BAR */
.searchbar input[type=text] {
    padding: 5px 10px 5px 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }

.searchbar{
    padding: 5px 10px 5px 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.searchbar-button{
    padding: 5px 10px 5px 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* TOOLBAR  */
header .toolbar-header-wrapper {
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    padding: auto;
}

/* TOOLBAR FLEXBOX */
header .toolbar-header-wrapper .toolbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: auto;
}


/* TOOLBAR ITEM */
header .toolbar-header-wrapper .toolbar-item {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 10px;
    cursor: pointer;
}


@media only screen and (max-width: 750px) {
    .toolbar-searchbar-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


/* TOOLBAR FLEXBOX */
@media only screen and (max-width: 500px) {
    header .toolbar-header-wrapper .toolbar-wrapper {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        margin: 0px;
    }
    .searchbar-button {
        margin-left: auto;
        margin-right: auto;
    }
    .toolbar-searchbar-wrapper{
        margin-left: 0px;
        padding-left: 0px;
        padding: 0px;
    }
    header .main-header-wrapper .logo-wrapper{
        margin: 0px 0px 0px 0px;
    }
}

