/*

    CSS style of list page/

*/


.list-wrapper{
    display: flex;
    flex-direction: column;
}


/* title with sorting */
/* title box*/
.list-tittle{
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}

/* child of flex */
.list-tittle > a{
    flex: 0px;
    flex-basis: 10px;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-end;
    text-decoration: none;
}

/* child of flex */
.list-tittle > h2{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}


/* List of items*/
/* wrappper of items */
#list{
    display: grid;
    text-align: center;
}

/* list */
.list{
    display: grid;
    text-align: center;
}

/* each list item */
#list_item{
    position: relative;
    text-decoration: none;
    padding: 15px;
    margin: 0;
}

/* each list item */
.list_item{
    position: relative;
    text-decoration: none;
    padding: 15px;
    margin: 0;
}

/* ppagination in the bottom of list*/
#pagination{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.page_item{
    margin-left: 5px;
}


