

.error{
    margin-top: 10px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    color: rgb(214, 98, 98);
    border: rgb(214, 98, 98) 1px solid;
}

.success{
    margin-top: 10px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    color: rgb(80, 173, 76);
    border: rgb(80, 173, 76) 1px solid;
}
