body{
    max-width: 100%;
    max-height: 100%;
    background-image: url(background-css.png);
    background-position: 50% 0;
    background-size: cover;
    color: white;
}

.main-user-wrapper{
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
}

.user-switch-wrapper{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 10vw;
}

.user-img-switch{
    width: 100%;
}

.user-wrapper{
    width: 600px;
    height: 600px;
    position: relative;
    margin: 2% auto;
    padding: 5px;
    background:  #192734;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.user-items{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #fff;
}

.user-item{
    background-color: #0784b5;
    font-size: large;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.name-delete-wrapper{
    background-color: #0784b5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.delete{
    display: grid;
    flex-direction: column;
    text-align: center;
}
.delete-title{
    margin-top: 15px;
}

.delete-icons{
    display: flex;
    flex-direction: row;
}


.user-name{
    margin-top: 8px;
    padding: 20px;
    font-size: x-large;
}

.user-item-field{
    margin-top: 10px;
    overflow: auto;
    word-wrap: break-word;
}

.ok{
    cursor: pointer;
}

.no{
    cursor: pointer;
}

@media only screen and (max-width: 1500px) {


    .user-wrapper{
        width: 400px;
        height: 600px;
        position: relative;
        margin: 6% auto;
        padding: 5px;
        background:  #192734;
        border-radius: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-width: 400px) {
        .user-wrapper{
            width: 200px;
            height: 600px;
            position: relative;
            margin: 6% auto;
            padding: 5px;
            background:  #192734;
            border-radius: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }
        .delete-icons{
            display: flex;
            flex-direction: column;
        }
    }
}