/* 
 CSS style includes dark theme colors

*/

/* HEADER-COLORS */

.main-header-wrapper{
    background-color: #E0E0E0;
}

.toolbar-header-wrapper{
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    background-color: #E0E0E0;
}

/* Footer Color */
.footer{
    background: #E0E0E0;
    border-top: #212121 1px solid;
    color: #424242;
}

/* body-index color*/
.main-list-wrapper{

    background-color: #F5F5F5;
}


/* Body Color */
body{
    background-color: #F5F5F5;
}


/* List Color */
.list-wrapper{
    color: #fff;
}

.list-tittle{
    background-color: #192428;
}


.list_item{
    color: #192428;;
    border-bottom: solid #424242 1px;
}

.list_item:hover{
    color: #9E9E9E;
    border-bottom: solid #9E9E9E 1px;
}

.sorting{
    color: white;
}
.sorting:hover{
    font-weight: bold;
}
#page_focus{
    font-weight: bold;
}
.page_item{
    color: #424242;
}
.page_item:hover{
    font-weight: bold;
}


/* Box color */
.main-box-wrapper{
    color: #424242;
}

.box-items{
    color: #192428;
    border-bottom: solid #424242 1px;
}

.box-wrapper{
    background:  #E0E0E0;
}

.box-item{
    color: white;
    background-color: #192428;
}

.name-icons-wrapper{
    color: white;
    background-color: #192428;
}

.box-item-link:hover {
    color: #8899A6;
}



/* Form color*/ 
.form-wrapper{
    background:  #E0E0E0;
    color: #192428;
}

.switch-btn{
    color: 192428;
}

.button-wrapper{
    border: 1px solid #192428;
}

.form-wrapper #btn{
    color: white;
    background: #424242;
}

.form-wrapper .input-field{
    border-bottom: solid #8899A6 1px;
}

.form-wrapper .submit-btn{
    background: #424242;
}

.input-wrapper input,textarea{
    color: #192428;
}



/* Basic color classes */

.logo-color{
    background-color: white;
    color: #192428;
}

.button-color{
    color: white;
    background-color: #192428;
    border: 1px solid #616161;
}

.button-color:hover{
    background-color: #616161;
}

.title-color{
    color: white;
    background-color: #39ace7
}